* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    /* Colors */
    --blue: #2c7dfa;
    --blue-shade: #3685ff;
    --dark-navy: #1f314f;
    --grey: #7d889e;
    --light-grey: #d5e1ef;
    --white: #ffffff;
  
    /* Fonts */
    --heading: 700 22px "Outfit", sans-serif;
    --body: 400 15px "Outfit", sans-serif;
  
    /* Effects */
  }
  